<!DOCTYPE html>
<html>
<head>
	<% include ../head %>
	<title></title>
</head>
<body>
<h3><%=movie.name%></h3>
<h5>Released in <%=movie.releaseDate%></h5>
<br>
	<p>Directed by: <%for (let i = 0; i < movie.director.length - 1; i++){%>
		<a href="director<%=i%>"><%=movie.director[i]%></a>, 
	<%}%>
		<a href="director<%=movie.director.length - 1%>"><%=movie.director[movie.director.length - 1]%></a>
	</p>
<br>
	<p>Cast: <a href=""><%=movie.characters[0]%></a></p>
<a href="/movies">Return to Movie List</a><br>
<a href="/">Return to Home</a>
<script src="javascripts/app.js"></script>
</body>
</html>