<!DOCTYPE html>
<html>
<head>
	<% include ../head %>
	<title></title>
</head>
<body>
<h3><%=movie.name%></h3>
<h5>Released in <%=movie.releaseDate%></h5>
<br>
	<p>Characters: <%for (let i = 0; i < movie.characters.length - 1; i++){%>
		<a href="/<%=movie.id%>/characters<%=i%>"><%=movie.characters[i]%></a>, 
	<%}%>
		<a href="/<%=movie.id%>/characters<%=movie.characters.length - 1%>"><%=movie.characters[movie.characters.length - 1]%></a></p>
<a href="/movies/<%=movie.id%>/addchar">Add New Character</a><br>
<a href="/movies">Return to Movie List</a><br>
<a href="/">Return to Home</a>
<script src="javascripts/app.js"></script>
</body>
</html>