<!DOCTYPE html>
<html>
<head>
	<% include ../head %>
	<title></title>
</head>
<body id="website-show-body">
	<div class="container-fluid" id="main-page-layout">
		<div class="row no-gutters" id="title-row">
			<div class="col-1">
				
			</div>
			<div class="col-10" id="title-display">
				<div class="textContainer">
					<h1 class="font-weight-bold">Movie Listing Page:<br>
						<%=movie.name%></h1>
				</div>
			</div>
			<div class="col-1">
				
			</div>
		</div>
		<div class="row no-gutters align-self-stretch" id="main-movie-row">
			<div class="col-1">
				
			</div>
			<div class="col-7 align-self-stretch">
				<div class="textContainer" id="main-movie-info">
					<% if (movie.poster_path === null) { %>
						<h3 class="font-weight-bold" id="no-img-main-title" style="padding: 1em 0; text-decoration: underline;"><%=movie.name%></h3>
						<p id="no-img-main-overview" style="text-align: justify; padding: 0 15px;"><%=movie.overview%></p>
					<% } else { %>
						<img class="img-fluid" src="https://image.tmdb.org/t/p/w500/<%=movie.poster_path%>">
						<h3 class="font-weight-bold" id="main-movie-title"><%=movie.name%></h3>
						<p id="main-movie-overview"><%=movie.overview%></p>
					<% } %>
				</div>
			</div>
			<div class="col-3 align-self-stretch">
				<div class="textContainer" id="side-movie-info">
					<p class="sideMovieHeading">Release Year:</p>
					<p><%=movie.releaseDate%></p>
					<p class="sideMovieHeading">Original Language:</p>
					<p><%=movie.original_language.toUpperCase()%></p>
					<p class="sideMovieHeading">Actors:</p>
					<p>
						<%if (movie.cast[0]) {%>
							<%for (let i = 0; i < movie.cast.length - 1; i++){%>
								<%=movie.cast[i].name%>, 
							<%}%>
							<%=movie.cast[movie.characters.length - 1].name%>
						<%}%>
					</p>
					<p class="sideMovieHeading">Characters:</p>
					<p>
						<%if (movie.characters[0]) {%>
							<%for (let i = 0; i < movie.characters.length - 1; i++){%>
								<%=movie.characters[i].name%>, 
							<%}%>
							<%=movie.characters[movie.characters.length - 1].name%>
						<%}%>
					</p>
				</div>
			</div>
			<div class="col-1 align-self-stretch">
				
			</div>
		</div>
	</div>

	<div>


	</div>

	<div class="container-fluid" id="user-textarea-layout">
		<p>
			<button id="button-one" class="btn btn-warning" type="button" data-toggle="collapse" data-target="#first-textarea-layout" aria-expanded="false" aria-controls="first-textarea-layout">Comments</button>
			<button id="button-two" class="btn btn-warning" type="button" data-toggle="collapse" data-target="#second-textarea-layout" aria-expanded="false" aria-controls="second-textarea-layout">Add to the Vault</button>
			<button id="button-three" class="btn btn-warning" type="button" data-toggle="collapse" data-target="#third-textarea-layout" aria-expanded="false" aria-controls="third-textarea-layout">My Rating</button>
		</p>
		<div class="row no-gutters justify-content-center collapse" id="first-textarea-layout">
			<div class="col-12">
				<div class="textContainer">
					<h3>User Comments</h3>
					<br>
					<table class="table table-striped table-bordered">
						<thead>
							<tr>
								<th scope="col" style="width: 6%;">#</th>
								<th scope="col" style="width: 16%;">Username</th>
								<th scope="col" style="width: 78%;">Comment</th>
							</tr>
						</thead>
						<tbody id="user-comments-list">
							<% for (let i = 0; i < movie.comments.length; i++){ %>
								<tr>
									<th scope="row"><%= i + 1 %></th>
									<td><%= movie.comments[i].username %></td>
									<td><%= movie.comments[i].comment %></td>
								</tr>
							<% } %>
						</tbody>
					</table>
					<br>
					<br>
					<form action="/movies/<%=movie.id%>?_method=PUT" method="POST">
						<textarea id="comment-textarea" rows="6" name="newcomment"></textarea><br>
						<input id="post-comment-button" class="btn btn-primary" type="submit" value="Add Comment" name="usercomment">
					</form>
				</div>
			</div>
		</div>
		<div class="row no-gutters justify-content-center collapse" id="second-textarea-layout">
			<div class="col-1 align-self-stretch">
				
			</div>
			<div class="col-10">
				<div class="textContainer">
					<h3 style="text-decoration: underline">Add to Our Database</h3>

					<br>

						<p><a href="/movies/newchar">Add New Character to Database</a></p>
						<p><a href="/movies/newactor">Add New Actor to Database</a></p>

					<br>

					<h3 style="text-decoration: underline">Add to This Movie's Page</h3>

					<br>

					<h5>Characters:</h5>
						<a href="/movies/<%=movie.id%>/addchar"><p>Add A Character to the <%=movie.name%> Page</p></a>
					
					<br>

					<h5>Actor/Actress:</h5>

						<a href="/movies/<%=movie.id%>/addactor"><p>Add An Artist to the <%=movie.name%> Page</p></a>
				</div>
			</div>
			<div class="col-1 align-self-stretch">
				
			</div>
		</div>
		<div class="row no-gutters justify-content-center collapse" id="third-textarea-layout">
			<div class="col-1">
				<div class="textContainer"></div>
			</div>
			<div class="col-10">
				<div class="textContainer">
					<h3>Rate This Film</h3>
					<form action="/movies/<%=movie.id%>?_method=PUT" method="POST">
						<select name="rating"><%for (let i = 0; i < 11; i++){%>
								<option value="<%=i%>"><%=i%></option>
							<%}%>
						</select>
						<input id="post-genre-button" class="btn btn-primary" type="submit" value="Submit">
					</form>
				</div>
			</div>
			<div class="col-1">
				<div class="textContainer"></div>
			</div>
		</div>
	</div>

	<div class="container-fluid" id="navbar-space">
		<div class="row no-gutters align-items-center" id="empty-navbar-row">
			<div class="col-12 fixed-bottom" id="empty-navbar-div">
				
			</div>
		</div>
	</div>

	<nav class="navbar fixed-bottom navbar-expand navbar-dark bg-dark">
		<span class="navbar-brand mb-0 h1">DVDb</span>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarCollapse">
			<div class="navbar-nav">
				<a class="nav-item nav-link" href="/">Home</a>
				<a class="nav-item nav-link active" href="/movies">Movies <span class="sr-only">(current)</span></a>
				<a class="nav-item nav-link" href="/users">Profiles</a>
			</div>
		</div>
	</nav>

	<script src="../javascripts/app.js"></script>
</body>
</html>